__history
__recover
__recovery
*.bat
*.db
*.dcu
*.drc
*.exe
*.local
*.log
*.map
*.txt
/Examples/EntityDemo/test.db
/Playgroung
/Sources/Tests/*.local
3thParty
3thParty
FastMM_FullDebugMode.dll
FluentTasks
GeneratedEntitiesFluentMapping.pas
GeneratedEntitiesMappingWithAttributes.pas
Win32
Win64
